<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myProfile</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="container">
        <header class="section-divider">
            <h1>Profile</h1>
            <span>안녕하세요, <mark class="blue-mark"><b>신형섭</b></mark> 입니다. 아래 내용은 저와 관련된 정보입니다.</span>
            <a href="index.html">Home</a>
        </header>

        <div class="section-divider">
            <h3>🎯 올해 목표</h3>
            <dl>
                <dt>💼 하반기 취업 성공</dt>
                <dd>SKALA 교육과정에 성실히 임하고, 취업 준비를 계획적으로 진행하여 올해 하반기 취업에 성공</dd>
                <dt>🏃‍➡️ 기초 체력 키우기</dt>
                <dd>앞으로의 인생을 위해 기초 체력 개선과 다양한 분야의 지식 습득</dd>
            </dl>
        </div>

        <div class="section-divider">
            <h3>🩷 취미</h3>
            <ul>
                <li>게임</li>
                <li>esports 및 F1 시청</li>
                <li>음악 감상</li>
                <li>산책</li>
            </ul>
        </div>

        <div class="section-divider">
            <h3>🎙️ 좋아하는 아티스트</h3>
            <dl>
                <dd>AKMU</dd>
                <dd>BIGBANG</dd>
                <dd>EPIKHIGH</dd>
                <dd>BrownEyedSoul</dd>
            </dl>
        </div>

        <div class="section-divider">
            <h3>🍚 선호 음식</h3>
            <ul>
                <li>🍫 초콜릿 / 민트초코</li>
                <li>된장찌개</li>
                <li>라면</li>
            </ul>
        </div>
    </div>
    

    
</body>
</html>
