<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome SKALA</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="container">
        <header class="section-divider">
            <h1>H's pub</h1>
            <p>프로필 등을 기록해둔 낙서장 입니다</p>
        </header>
        <nav class="main-nav section-divider">
            <a href="04_signUp.html"target="_blank" rel="noopener noreferrer">Sign Up</a>
            <a href="02_my_intro_page.html" target="_blank" rel="noopener noreferrer">Profile</a>
            <a href="myHoliday.html" target="_blank" rel="noopener noreferrer">휴일 일정</a>
            <a href="myClass.html" target="_blank" rel="noopener noreferrer">강의 시간표</a>
            <a href="myTrip.html" target="_blank" rel="noopener noreferrer">여행 일지</a>
        </nav>
        <div class="section-divider">
            <main>
                <h2>오늘의 주요 소식</h2>
                <section>
                    <h3>패치 노트</h3>
                    <article>
                        <h4>[패치 내역] 여행일지 영상 추가</h4>
                        <p>리장 브이로그 업데이트</p>
                        <p>작성일 : <time datetime="2026-07-25">2026-07-25</time></p>
                    </article>
                </section>

                <section>
                    <h3>7월 첫째주 베스트 컷</h3>
                    <figure>
                        <img src="../media/홋카이도.jpg" alt="훗카이도 사진" width="300" height="150">
                        <figcaption>훗카이도 배경 사진 (2025)</figcaption>
                    </figure>
                </section>
                <section>
                    <h3>6월 넷째주 베스트 컷</h3>
                    <figure>
                        <img src="../media/리장.jpg" alt="리장 사진" width="300" height="150">
                        <figcaption>리장 호도협 사진 (2025)</figcaption>
                    </figure>
                </section>

            </main>
            <aside>
                <h3>실시간 정보</h3>
                <p>현재 위치 : 광주광역시 광산구</p>
                <section>
                    <p>추천 학습 사이트 : 
                        <a href="https://skala2.udemy.com/" target="_blank" rel="noopener noreferrer">https://skala2.udemy.com/</a>
                    </p>
                </section>
            </aside>
        </div>
        <footer>
            <p>문의 : hideonbush@t1.com</p>
            <p><small>© 2026 신형섭 포트폴리오. 모든 태그는 웹 표준 시맨틱 태그로 작성되었습니다.</small></p>
        </footer>
    </div>
    

</body>
</html>
