<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>🗓️ 강의 시간표</h1>
            <a href="index.html">Home</a>
        </header>

        <div class="table-wrap">
            <table class="schedule-table">
                <thead>
                    <tr align="center">
                        <th>시간</th>
                        <th>화요일</th>
                        <th>수요일</th>
                        <th>목요일</th>
                    </tr>
                </thead>
                <tbody align="center">
                        <tr >
                            <td>09:00 - 10:00</td>
                            <td rowspan="3">OT 및 개발환경</td>
                            <td rowspan="3">html 및 css 기초</td>
                            <td rowspan="3">css 심화 및 js</td>
                        </tr>
                        <tr > 
                            <td>10:00 - 11:00</td>
                        </tr>
                        <tr > 
                            <td>11:00 - 12:00</td>
                        </tr>
                        <tr class="lunch-row">
                            <td>12:00 - 13:00</td>
                            <td colspan="3">점심 시간</td>
                        </tr>
                        <tr>
                            <td>13:00 - 14:00</td>
                            <td rowspan="4">git의 이해 및 활용</td>
                            <td rowspan="4">html 및 css 기초</td>
                            <td rowspan="4">css 심화 및 js</td>
                        </tr>
                        <tr >
                            <td>14:00 - 15:00</td>
                        </tr>
                        <tr >
                            <td>15:00 - 16:00</td>
                        </tr>
                        <tr >
                            <td>16:00 - 17:00</td>
                        </tr>
                        <tr>
                            <td>17:00 - 18:00</td>
                            <td colspan="3">실습</td>
                        </tr>
                    </tbody>
            </table>
        </div>
    </div>
    

</body>
</html>