<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myHoliday</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="container">
        <h1>🐰 휴일 일과 🐸 </h1>
        <nav class="section-divider">
            <a href="index.html">Home</a>
        </nav>
        <br>
        
        <div>
            <h2>🛏️ 달콤한 아침</h2>
            <p><strong>09:00 </strong> - 컨디션에 따라 <b>유튜브 시청 / <mark class="blue-mark">취침</mark></b></p>
            <p><strong>10:30 </strong> - 점심 메뉴 선정</p>
            <p><strong>12:00 </strong> - 🍚 점심 식사</p>
            <br>
        </div>
        
        <div>
            <h2>☀️ 오후 일정</h2>
            <p><strong>13:30 </strong> - ⌨️ 게임 / 🎙️ 코인노래방 즐기기</p>
            <p><strong>15:30 </strong> - <mark class="blue-mark"><b>이불 속 달콤한 낮잠</b></mark></p>
            <p><strong>17:30 </strong> - 🍚 저녁 메뉴 선정</p>
            <br>
        </div>
        
        <div>
            <h2>🌙 저녁 일정</h2>
            <p><strong>18:30 </strong> - 저녁 식사</p>
            <p><strong>20:00 </strong> - 음악 감상과 함께 산책</p>
            <p><strong>22:00 </strong> - 미디어(유튜브, 넷플릭스 등) 시청 및 <mark class="blue-mark"><b>취침 준비</b></mark> </p>
            <br>
        </div>
        
        
        <p>작성일 : 2026.07</p>

    </div>
    
</body>
</html>
