<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myTrip</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>여행 일지</h1>
            <audio controls>
                <source src="../media/music.mp3" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </header>
        <nav class="section-divider">
            <a href="index.html">Home</a>
        </nav>
        <main class="section-divider">
            <article class="trip-card">
                <figure>
                    <figcaption>리장 호도협 (2025) </figcaption>
                    <img src="../media/리장.jpg" alt="리장 호도협" width="400" height="200">
                </figure>
            </article>
            <article class="trip-card">
                <figure>
                    <figcaption>세부 탑스힐 (2024)</figcaption>
                    <img src="../media/세부.jpg" alt="세부 탑스힐" width="400" height="200">
                </figure>
                
            </article>
            <article class="trip-card">
                <figure>
                    <figcaption>훗카이도 대설산 (2025)</figcaption>
                    <img src="../media/홋카이도.jpg" alt="훗카이도 대설산" width="400" height="200">
                </figure>
                
            </article>
        </main>
        <h2>브이로그</h2>
        <main>
            <article>
                <figure>
                    <figcaption>리장 공연</figcaption>
                    <video width="400" height="200" controls>
                        <source src="../media/video.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </figure>
            </article>
        </main>

    </div>



</body>
</html>
